<div class="size-fields">
  <div>
    <%= f.label :price, "価格（円）" %><br>
    <%= f.number_field :price, required: true %>
  </div>
  <div>
    <%= f.label :image, "参考画像（必須）" %><br>
    <%= f.file_field :image, required: true %>
  </div>
  <hr>
</div>