<div id="receive-date-section" class="step-card" style="display: none;">
  <h2 class="step-title mb-3">5. 受け取り希望日の入力</h2>
  
  <label id="receive-date-label" class="form-label">受け取り希望日を入力してください</label><br>
  <%= f.label :receive_date, "希望日", class: "form-label" %><br>
  <%= f.date_field :receive_date, min: Date.current, required: true, id: "receive-date-input", class: "form-control form-control-lg mb-2" %>

  <%# 配達の場合のみ表示する時間帯プルダウン %>
  <div id="delivery-time-section" style="display: none; margin-top: 10px;">
    <%= f.label :receive_time, "配達希望時間帯", class: "form-label" %><br>
    <%= f.select :receive_time,
      options_for_select([
        ["選択してください", ""],
        ["午前中", "09:00"],
        ["12:00〜15:00", "12:00"],
        ["15:00〜18:00", "15:00"],
        ["18時以降", "18:00"]
      ]),
      {},
      { id: "order_receive_time", class: "form-select form-select-lg" } %>
  </div>
</div>